@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap') format("truetype");
}
html, body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #424549;
}